
<!doctype html>
<html lang="en">
<div th:replace="fragments/navigation :: header">...</div>

<body>

<div th:replace="fragments/navigation :: navigation">...</div>

<main role="main" class="container">

  <div class="starter-template">
    <h3>Программа "Повышение эффективности тестирование ПО"</h3>
    <p class="lead">
      Основные функции:
      <li> базовый crud пользователей, вход под админом и пользователем</li>
      <li> форма заполнять баги</li>
      <li> отображение % по этим багам, страница с итогами (сколько новых, сколько закрыто)</li>
    </p>
  </div>


</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>
