
<!doctype html>
<html lang="en">
<div th:replace="fragments/navigation :: header">...</div>

<body>

<div th:replace="fragments/navigation :: navigation">...</div>

<main role="main" class="container">

  <div class="starter-template">



    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col"><a href="?sort=id">id</a></th>
        <th scope="col"><a href="?sort=name">Name</a></th>
        <th scope="col">description</th>
        <th scope="col">stepsToPlay</th>
        <th scope="col">expectedResult</th>
        <th scope="col">realResult</th>
        <div sec:authorize="hasAnyRole('ADMIN')">
          <th scope="col">DELETE</th>
        </div>
      </tr>
      </thead>
      <tbody>

      <tr th:each="testcase: ${testCases}">
        <td><a th:text="${testcase.id}" th:href="|/testcases/${testcase.id}/|"></a> </td>
        <td th:text="${testcase.name}" />
        <td th:text="${testcase.description}" />
        <td th:text="${testcase.stepsToPlay}" />
        <td th:text="${testcase.expectedResult}" />
        <td th:text="${testcase.realResult}" />
        <div sec:authorize="hasAnyRole('ADMIN')">
          <td>
            <form method="POST" th:action="|/testcases/delete|">
              <input type="hidden" id="testCaseId" name="testCaseId" th:value="${testcase.id}" />
              <button type="submit">Delete</button>
            </form>
          </td>
        </div>

      </tr>

      </tbody>
    </table>


  </div>
</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>
