
<!doctype html>
<html lang="en">
<div th:replace="fragments/navigation :: header">...</div>

<body>

<div th:replace="fragments/navigation :: navigation">...</div>

<main role="main" class="container">

  <div class="starter-template">



    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col"><a href="?sort=id">id</a></th>
        <th scope="col"><a href="?sort=name">Логин</a></th>
        <th scope="col"><a href="?sort=description">Email</a></th>
        <th scope="col">Delete</th>

      </tr>
      </thead>
      <tbody>

      <tr th:each="user: ${users}">
        <td><a th:text="${user.id}" th:href="|/users/${user.id}/|"></a> </td>
        <td th:text="${user.username}" />
        <td th:text="${user.email}" />
        <div sec:authorize="hasAnyRole('ADMIN')">
          <td>
            <form method="POST" th:action="|/users/delete|">
              <input type="hidden" id="userId" name="userId" th:value="${user.id}" />
              <button type="submit">Delete</button>
            </form>
          </td>
        </div>
      </tr>

      </tbody>
    </table>


  </div>
</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>
